	body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,textarea,ul{
		margin:0;
		padding:0;
		border:0}
	.wrapper {
		width: 880px;
		margin:0 auto; margin-top: -10px;
		padding-left: 5px; padding-right: 5px; 
	}
	html,body {
		font-family: Consolas,Verdana,sans-serif;
		background-color: #EBF3D2;
		color:#D62614;
		font-size: 18px;
	}
	header {
		margin-top: 10px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
		border-left:15px solid #D62614; border-top-left-radius: 50px; border-bottom-left-radius: 600px;
		border-right:15px solid #D62614; border-top-right-radius: 50px; border-bottom-right-radius: 600px;
		border-left-style: ridge; border-right-style: ridge;
		border-bottom: 2px solid #D62614; 
		text-align: center;
		box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
		-webkit-transition: all .8s ease-in-out;
		-moz-transition: all .8s ease-in-out;
		-o-transition: all .8s ease-in-out;
		transition: all .8s ease-in-out;
	}
	header:hover {color:#E8DDCB;}
	header h1 {font-size: 28px;}
	h2 {font-size: 24px; padding-left: 2%;}
	nav {
		width: 100%;
		height: 40px;
		border:1px solid transparent;
		margin-top: 20px;
	}
	nav span {
		float: left;
		padding-left: 20px;padding-top: 5px;
	}
	.legend {
		font-size: 12px; font-style: italic; font-weight: bolder;
		color: gray; 
		text-align: left;
		width: 700px;
		text-align: center;
	}
	nav ul {
		list-style: none;

	}
	nav ul li {
		float: left;
		margin-left: 20px;
	}
	nav ul li button {
		background-color: #665F6C;
		width: 45px; height: 26px;
		border:2px solid #D62614;  border-top-left-radius: 10px; border-bottom-right-radius: 10px;
		border-top:none; border-bottom:none;
		font-size: 18px; font-weight: bold;
		color: white;
		padding-top: 3px;	
		box-shadow: 0px 2px 7px rgba(0,0,0,0.6);
	}
	nav ul li button:hover {
		border:2px solid orange;  border-top-left-radius: 10px; border-bottom-right-radius: 10px;
		border-top:none; border-bottom:none;
		background-color: #D62614;
	}
	.content div {
		display: none;
		border-left:2px dotted #D62614; border-right:2px dotted #D62614; 
		border-radius: 20px;
		padding: 2%;
		margin-bottom: 10px; margin-top: 10px;
		box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
		z-index: 2;
		-webkit-transition: all .8s ease-in-out;
		-moz-transition: all .8s ease-in-out;
		-o-transition: all .8s ease-in-out;
		transition: all .8s ease-in-out;
	}
	.content div p.description {
		padding-left: 2%; padding-right: 2%;
	}
	article {
		font-size: 14px;
		color: white;
	}
	pre {
		background-color: #665F6C;
		border:1px solid transparent; border-radius: 10px;
		padding-top: 10px; padding-bottom: 10px; padding-left: 10px;
		box-shadow: 0px 0px 10px #D62614;
	}
	aside {
		color:gray; 
		border-bottom: 1px solid #F5777B; border-radius: 100px;
	 	padding-left: 5%; 
	 	padding-bottom: 2px;
	 }
	 #task1 {
	 	display: block;
	 }
	 .display-menu {
	 	position: relative; left: 66%;
	 }
	 .display-menu form input {
	 	opacity: 0.8;
	 	width: 80px; 
	 	background-color: #D62614;
	 	color: #EBF3D2; font-size: 12px; font-weight: bold; text-align: center;
	 	border:1px solid gray; border-radius: 10px; border-top:none;
	 	box-shadow: 0px 1px 7px rgba(0,0,0,0.6);
	 }
	 nav ul li:nth-child(n+9) {
	 	display: none;
	 }
	 

